<header class="site-header">
    <div class="container">
        <a href="/posts" class="logo">Quora Posts</a>
        <nav>
            <a href="/posts">All Posts</a>
            <a href="/posts/new" class="btn btn-primary">New Post</a>
        </nav>
    </div>
</header>
